::selection {
  background:purple;
  color: #FFF;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color:whbalckite;
  position:relative;
  background-image: url('https://img.wallpapersafari.com/desktop/1280/1024/11/41/T7ZjNl.jpg');
}

.main-header {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.mh-logo {
  margin: -10px -152px -10px;
}

.main-nav a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #262726;
  text-decoration: none;
  
}

.main-nav ul {

margin: 10px 200px 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.foto {min-width:100%;}
  

.container {
  width: 960px;
  max-width: 100%;
  margin: auto;
}
.main-header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav ul {
  margin: 1em 0 .5em;
  text-align: center;
}

.main-nav li {
  display: inline;
}

.main-nav a {
  display: inline-block;
  padding: .5em 1.5em;
}

.cc-flex-container {
  font-family: 'Dancing Script', cursive;
  top: 30vw;
  position: absolute;
  display: flex;
   margin-top: 1%;
   width: 100%;
 flex-wrap: nowrap; 
 flex-direction: column;
 text-align: center;
  justify-content: center;
 }
 .cc-flext-item{
  font-size: 3vw;
  color:whitesmoke;
 }
 .section-one{
  text-align: center; 
  margin-top: 2%; 
  margin-bottom: 2%;
 }
 .h1-m{
   font-size: 2em;
  font-family: 'Dancing Script', cursive;
   text-align: center;
 }
.slideshow-bg{
  padding-top: 2%;
  padding-bottom: 2%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
  min-width: 70%;
  height:auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color:grey;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (min-width:960px) {
  .main-header .container {
      justify-content: space-between;
  }
}
.h1-menu{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;

}
.h3-p {
  text-transform: uppercase;
  font-family: 'Antic', sans-serif;
  color: #bc2127;
  text-align:center;
  font-size: 30px;
    margin: auto;
    width: 15%;
    border: 3px solid #bc2127;
    padding: 10px;
  }  
table {
  width: 100%;
  border-collapse: collapse;
  border:transparent; 
}

.fa {
  padding: 15px;
  font-size: 25px;
  width: 50px;
  height: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.9;
}



.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #55ACEE;
  color: white;
}

.fa-snapchat {
  background: #55ACEE;
  color: white;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}